html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.logo {
  will-change: filter;
}


.paySelected{filter: drop-shadow(0 0 2em #fd9002fb);}

.bg-y{
  background: #fff8f0;
}

.border-y{
  border :  var(--bs-border-width) var(--bs-border-style) #fd9002fb!important
  /* border-color: #fd9002fb; */
}
